.content-flex {
  display: flex;
  flex-direction: column;
  color: #FF6060;
  align-items: center;
  min-height: 100vh;
}

.code-erreur{
  font-size: 288px;
  font-weight: bold;
  width: 597px;
  height: 263px;
  /* line-height: 410.69px */
}

.link {
  color: #FF6060;
  margin-top: 20rem;
  border-bottom: 1px solid #FF6060;
}

.link:hover {
  color: #FF6060;
  text-decoration: none
}
