<header class="container-fluid">
    <div class="d-flex align-items-center mt-4">
      <img [src]="logo" alt="Logo KASA" />
      <nav class="ms-auto">
        <ul class="nav">
          <li class="nav-item ">
            <a routerLink="/" class="nav-link lin">
              Accueil
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="'/about'" class="nav-link lin">
              A Propos
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
