.nav-link {
  color: #FF6060 !important;
  width: 136px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;

}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.lin::before {
  border-bottom: 1px solid #FF6060;
}


.nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 20px;
}

.lin {
  text-decoration: none;
}
