.no-bullet {
  list-style-type: none;
  padding-left: 0;
}
.bg-color-equipement {
  display:flex;
  justify-content: space-between !important;
}

.accordion-button {
  background-color: #FF6060;
  width: 100%;
  color: white;
  height: 52px;
  border-radius: 10px;
  text-align: start;
  border: 1px solid #FF6060;
}

.clo-md-6 {
      padding-right: 0px !important;
  padding-left: 0px !important;
}

.body-item {
  background-color:#F6F6F6;
  margin-top: -10px;
  height: 250px;
  border-radius: 10px;
  color: #FF6060;
  text-align: justify;
  padding: 25px;
  line-height: 1.5;
  margin-bottom: 20px
}

.color-red {
  color: #FF6060;
}
.color-grid {
  color: #b6b4b4;
}
.line-height {
  line-height: 1;
}

.content-chips {
  display: flex;
  color: #fff;
  margin-bottom: -22px

}

.chips {
  background-color: #FF6060;
  padding: 5px;
  margin: 2px;
  width: 150px;
  border-radius: 50px;
  text-align: center;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: center
}

.rond {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  overflow: hidden

}
.rond img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.font-size {
  font-size: 20px;
}

.position-star {
  display: inline-block;
}