<div class="mt-5 row">
    <div class="col-md-12" *ngFor="let item of abouts">
      <div
        class="bg-color-equipement accordion-button d-flex justify-content-between align-items-center"
        data-bs-toggle="collapse"
        [href]="'#aboutCollapse' + item.id"
        role="button"
        aria-expanded="false"
        [aria-controls]="'aboutCollapse' + item.id"
        (click)="toggleAccordion(item)"
      >
        <div>{{ item.nom }}</div>
        <div *ngIf="openedAccordions.includes(item.id)">
            <i class="fa fa-angle-up"></i>
        </div>
        <div *ngIf="!openedAccordions.includes(item.id)">
          <i class="fa fa-angle-down"></i>
        </div>

      </div>
        <div *ngIf="openedAccordions.includes(item.id)" class="collapse show" [id]="'aboutCollapse' + item.id">
          <div class="body-item1">{{ item.description }}</div>
        </div>
    </div>
</div>
